/* styles.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff; /* define the text color as white  */
  background-color: #222; /* define bg color to gray */
}

header {
  background-color: #333; /* define bg color to gray scale */
  padding: 20px;
}

nav ul {
  list-style-type: none; /* Remove default list type */
  margin: 0; /* Set Margin and padding to 0 to remove any default space */
  padding: 0;
}

nav ul li {
  display: inline; /* Set the display of the items horizontally */
  margin-right: 10px; /* Add right margin to separate each item */
}

nav ul li a {
  color: #fff; /* Set anchors to white */
  text-decoration: none; /* Remove underlines */
  padding: 5px 10px; /* Set the top and bottom padding to 5 and left and right to 10 */
  font-weight: bold; /* Set the font to bold */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin right for the last list item */
}

nav ul li:last-child a {
  padding: 0; /* Remove padding to eliminate extra space */
}

section {
  padding: 40px 20px; /* Adds padding to all section elements to create space around their content. */
}

h1, h2, h3 {
  margin-bottom: 20px;
  color: #fff; /* Set color to white */
}

/* Increase the font size for the titles */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.profile-photo {
  max-width: 200px;
  margin-bottom: 20px;
}

.profile-photo img {
  display: block;
  width: 100%;
  border-radius: 0%;
}

.resume-button-en {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333; /* Green background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border-radius: 5px; /* Define if the borders are round or straight */
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button-en:hover {
  background-color: #555; /* Darker green background color on hover */
}

.resume-button-es {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333; /* Green background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button-es:hover {
  background-color: #555; /* Darker green background color on hover */
}

/* Contact Me Section */
.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  display: inline-block;
  margin-right: 10px;
}

.contact-list a {
  color: #fff;
  text-decoration: none;
}

.contact-list a i {
  font-size: 46px; /* Define font size to make the icon bigger */
}

.contact-list li:last-child {
  margin-right: 0;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}